{{!-- CUSTOM HTML GALARRETA --}}
<div class="categorias-container">
    <a href="#">
      <div class="categoria-jonson"></div>
    </a>
    <a href="#">
      <div class="categoria-stihl"></div>
    </a>
    <a href="#">
      <div class="categoria-husqvarna"></div>
    </a>
    <a href="#">
      <div class="categoria-raisman"></div>
    </a>
    <a href="#">
      <div class="categoria-briggs-stratton"></div>
    </a>
</div>

<div class="banner-videos-container">
  <div class="videos">
  <iframe width="560" height="315" src="https://www.youtube.com/embed/k8Jf13xNo7M" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
  <iframe width="560" height="315" src="https://www.youtube.com/embed/9ZEeXLqmUXQ" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
  </div>
</div>

{{#if subscriptionFooter.active}}
  {{> tools/views/partials/suscription}}
{{/if}}
<footer class="nav-tools-footer">
  <section class="nav-tools-footer__bound">
    <section class="nav-tools-footer__top">
      <div class="nav-tools-footer__info header--custom-text">
        <div class="nav-tools-footer__logo">
          {{#if logo}}
            <img src="{{logo}}" alt="{{name}}">
          {{else}}
            <span class="header--custom-text">
              {{name}}
            </span>
          {{/if}}
        </div>
        <div class="nav-tools-footer__contact invisible">
          <div data-editable="contact">
            {{#if showContact}}
              {{#if showPhone}}
                <a class="header--custom-text">{{phone.formatted}}</a>
              {{/if}}

              {{#if showEmail}}
                <a class="header--custom-text" href="mailto:{{email}}">{{email}}</a>
              {{/if}}

              {{#if address}}
                {{#with address}}
                  <p>
                    <span itemprop="streetAddress" class="header--custom-text">{{address}}</span>
                    <span itemprop="addressLocality" class="header--custom-text">{{city}}</span>
                    <span itemprop="addressRegion" class="header--custom-text">{{state}}</span>
                  </p>
                {{/with}}
              {{/if}}
            {{/if}}
          </div>
          <div class="nav-tools-footer__social-media" data-editable="socialNetworks">
            {{#if showSocialNetworks}}
              {{#each socialNetworks}}
                <a href="{{url}}" target="_blank" class="header--custom-svg" rel="noopener noreferrer nofollow">
                  {{> (concat 'icons/social_networks/' (lookup . 'name'))}}
                </a>
              {{/each}}
            {{/if}}
          </div>
        </div>
      </div>

      <div class="nav-tools-footer__categories header--custom-border categorias-footer">
        <p>Podemos ayudarte</p>
        <div class="categoria">
          <img src="https://cdn-icons-png.flaticon.com/512/25/25638.png" alt="angle.png">
          <a class="header--custom-text" href="#">Devoluciones y cambios</a>
        </div>
        <div class="categoria">
          <img src="https://cdn-icons-png.flaticon.com/512/25/25638.png" alt="angle.png">
          <a class="header--custom-text" href="#">Preguntas Frecuentes</a>
        </div>
        <div class="categoria">
          <img src="https://cdn-icons-png.flaticon.com/512/25/25638.png" alt="angle.png">
          <a class="header--custom-text" href="#">Servicio al cliente</a>
        </div>
        <div class="categoria">
          <img src="https://cdn-icons-png.flaticon.com/512/25/25638.png" alt="angle.png">
          <a class="header--custom-text" href="#">Empresa</a>
        </div>
      </div>

      <div class="nav-tools-footer__categories header--custom-border redes-sociales">
        <a href="#"><img src="https://cdn-icons-png.flaticon.com/512/1384/1384005.png" alt="facebook.png"></a>
        <a href="#"><img src="https://cdn-icons-png.flaticon.com/512/717/717392.png" alt="instagram.png"></a>
        <a href="#"><img src="https://cdn-icons-png.flaticon.com/512/717/717426.png" alt="youtube.png"></a>
      </div>

      <div class="nav-tools-footer__categories header--custom-border contenedor-getnet">
        <img src="https://raismanchile.cl/wp-content/uploads/2021/02/BANNER_GETNET_V3.png" alt="BANNER_GETNET_V3.png">
      </div>

      <div class="nav-tools-footer__pages header--custom-text header--custom-border invisible">
        <span class="nav-tools-footer__page">
          <a href="{{linkToHowBuy.href}}" class="header--custom-text">{{linkToHowBuy.label}}</a>
        </span>
      </div>

      <div class="nav-tools-footer__social-media invisible" data-editable="socialNetworks">
        {{#if showSocialNetworks}}
          {{#each socialNetworks}}
            <a href="{{url}}" target="_blank" class="header--custom-svg" rel="noopener noreferrer nofollow">
              {{> (concat 'icons/social_networks/' (lookup . 'name'))}}
            </a>
          {{/each}}
        {{/if}}
      </div>

    </section>
    <section class="nav-tools-footer__bottom header--custom-border header--custom-text">
      <div>
        <div class="nav-footer-about">
          <a href="{{{linkToMShopsLandingPage}}}" target="_blank" class="header--custom-text">{{i18n.powered_by}}</a>
          {{#if linkToLegalNotices}}
            <a href="{{linkToLegalNotices.href}}" class="header--custom-text">{{linkToLegalNotices.label}}</a>
          {{/if}}
          {{#if linkToLGPD}}
            <a href="{{linkToLGPD.href}}" class="header--custom-text">{{linkToLGPD.label}}</a>
          {{/if}}
        </div>

        {{#if showBusinessData}}
          {{#with fiscalData}}
            <div class="nav-footer-fiscal-data">
              <p class="nav-footer-fiscal-data__name">{{legal_name}}</p>
              <p class="nav-footer-fiscal-data__id">{{legal_doc}}</p>
            </div>
          {{/with}}
        {{/if}}
      </div>
      {{#if showQrData}}
        {{#with fiscalData}}
          <a href={{qr_link}} target="_F960AFIPInfo">
            <img class="nav-footer-afip-img" src={{qr_img}} alt="Data fiscal" />
          </a>
        {{/with}}
      {{/if}}
    </section>
  </section>
</footer>
